---
const PROJECTS = [
    {
        title: "Portfolio Website",
        description: "A personal portfolio website to showcase my projects and skills.",
        link: "https://myportfolio.com",
        github: "https://github.com/username/portfolio",
        image: "/images/portfolio.png",
        tags: ["HTML", "CSS", "JavaScript", "Astro"]
    }
    // ,{
    //     title: "E-commerce Store",
    //     description: "An online store built with modern web technologies.",
    //     link: "https://mystore.com",
    //     github: "https://github.com/username/ecommerce-store",
    //     image: "/images/ecommerce.png",
    //     tags: ["React", "Node.js", "MongoDB"]
    // },
    // {
    //     title: "Blog Platform",
    //     description: "A blogging platform with markdown support and user authentication.",
    //     link: "https://myblog.com",
    //     github: "https://github.com/username/blog-platform",
    //     image: "/images/blog.png",
    //     tags: ["Next.js", "TypeScript", "Tailwind CSS"]
    // }
]
---

{
    PROJECTS.map(({title, description, tags, image}) => (
        <article>
            <h3>{title}</h3>
            <p>{description}</p>
            <ul>
                {tags.map(tag => (
                    <li>{tag}</li>
                ))}
            </ul>
            <img src={image} alt={`Secreenshot of the project ${title}`} />
        </article>
    ))
}