---
const PROJECTS = [
    {
        title: "A beautiful library with SVG logos - Svgl",
        description: "Created from scractch with Next.js, Tailwind CSS and React. It's a library of SVG logos from the most popular brands. Optimized for SEO and performance.",
        link: "https://svgl.app/",
        github: "https://github.com/pheralb/svgl",
        image: "/projects/svgl.webp",
        tags: ["Next.js", "Tailwind CSS", "React"]
    }
    // ,{
    //     title: "E-commerce Store",
    //     description: "An online store built with modern web technologies.",
    //     link: "https://mystore.com",
    //     github: "https://github.com/username/ecommerce-store",
    //     image: "https://placehold.co/300x200",
    //     tags: ["React", "Node.js", "MongoDB"]
    // },
    // {
    //     title: "Blog Platform",
    //     description: "A blogging platform with markdown support and user authentication.",
    //     link: "https://myblog.com",
    //     github: "https://github.com/username/blog-platform",
    //     image: "https://placehold.co/300x200",
    //     tags: ["Next.js", "TypeScript", "Tailwind CSS"]
    // }
]
---

{
    PROJECTS.map(({title, description, tags, image}) => (
        <article>
            <h3>{title}</h3>
            <p>{description}</p>
            <ul>
                {tags.map(tag => (
                    <li>{tag}</li>
                ))}
            </ul>
            <img src={image} alt={`Screenshot of the project ${title}`} />
        </article>
    ))
}